.git
.git/
.gitignore
node_modules
node_modules/
vendor/
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
*.log
docker-compose.override.yml
README.md
public/build/
